html {
      text-align: center;
      background: url("images/london.jpg") no-repeat center fixed;
      background-size: cover;
      color: white;
      font-family: helvetica
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
    }

.avatar {
	position: relative;
	display: inline-block;
	height: 100px;
	width: 100px;
	border-radius: 100%;
	border: 2px solid white;
    margin-left: auto ;
    margin-right: auto
}

p {
	font-size: 22px
	font: italic;
	font-family: cursive;
}

div img {
    border-radius:100%;
    height: 100px;
    width: 100px;
}